.vs/*
ProductManagement.Api.Tests/*
ProductManagement.Application.Tests/bin/*
ProductManagement.Application.Tests/obj/*
src/ProductEventManagementWorker/obj/*
src/ProductManagement.Api/bin/*
src/ProductManagement.Api/obj/*
src/ProductManagement.Application/obj/*
src/ProductManagement.Application/bin/*
src/ProductManagement.Domain/bin/*
src/ProductManagement.Domain/obj/*
src/ProductManagement.Infrastructure/bin/*
src/ProductManagement.Infrastructure/obj/*
src/ProductManagement.Worker/bin/*
src/ProductManagement.Worker/obj/*
tests/ProductManagement.Api.Tests/bin/*
tests/ProductManagement.Api.Tests/obj/*
tests/ProductManagement.Application.Tests/bin/*
tests/ProductManagement.Application.Tests/obj/*
tests/ProductManagement.Domain.Tests/bin/*
tests/ProductManagement.Domain.Tests/obj/*
tests/ProductManagement.Infrastructure.Tests/bin/*
tests/ProductManagement.Infrastructure.Tests/obj/*
tests/ProductManagement.Worker.Tests/obj/*
tests/ProductManagement.Worker.Tests/bin/*
obj/ProductManagement.Infrastructure.EntityFrameworkCore.targets
src/ProductManagement.Api.Tests/obj/ProductManagement.Api.Tests.csproj.nuget.g.props
